<h1>Message</h1>

<p><strong>From: </strong><%= @message.visitor.fullname %></p>
<p><strong>When: </strong><%= time_ago @message.created_at %></p>
<p><strong>Message: </strong><%= @message.content %></p>