/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/***************/
/* angular animate */
.slide-reveal.ng-enter {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;

    opacity:0.5;
    position:relative;
    opacity:0;
    top:10px;
}
.slide-reveal.ng-enter-active {
    top:0;
    opacity:1;
}

.expand.ng-enter {
    -webkit-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -moz-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -o-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;

    opacity:0;
    max-height:0;
    overflow:hidden;
}
.expand.ng-enter-active {
    opacity:1;
    max-height:40px;
}

.expand.ng-leave {
    -webkit-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -moz-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -o-transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    transition:0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;

    opacity:1;
    max-height:40px;
    overflow:hidden;
}
.expand.ng-leave-active {
    opacity:0;
    max-height:0;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./assets/glyphicons-halflings-regular.eot');
    src: url('./assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/glyphicons-halflings-regular.woff') format('woff'),
    url('./assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('./assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    padding-top: 60px;
    color: #75787b;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 979px) {
    body {
        padding-top: 50px;
        color: #75787b;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

/* navbar */
.navbar-default {
    background-color: #53a318;
    border-color: #ccc;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #a9d18c;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a9d18c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #a9d18c;
    background-color: #53a318;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #53a318;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #a9d18c;
    border-bottom-color: #a9d18c;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #a9d18c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eee;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a9d18c;
    }
}

.picture {
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 22%;
    min-width: 150px;
    float: left;
    margin-top: 20px;
    margin-left: 2%;
}

#featured {
    float: left;
    width: 76%;
}

.titles {
    color: #367806;
    margin-top: 50px;
}

.blurb {
    font-size: 1.5em;
}

.portfolio {
    list-style: none;
}

.portfolio li {
    width: 215px;
    height: 290px;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.portfolio-img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.portfolio-img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.portfolio-name {
    color: #367806;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.portfolio-desc {
    text-align: center;
    margin: -10px 0px;
}

#portfolioDropdown {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    line-height: 20px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #53a318;
}

#portfolioDropdownContainer {
    box-sizing: border-box;
    margin-top: 15px;
}

#portfolioDropdown:hover {
    color: #a9d18c;
    text-decoration: none;
}

/*
    SIMON SAYS
*/
.simon-wrapper {
    width: 412px;
    height: 412px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    background-color: #333;
    top: 10vh;
    box-shadow: 0px 0px 12px #222;
}

.wrapper-inner {
    position: relative;
    top: 6px;
}

.center-pad {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    background-color: #ECE7EE;
    border: 12px solid #333;
    margin: -100px 0px 0px -100px;
}

.simon-brand {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: #222;
    font-size: 3.5em;
    margin-top: 27px;
}

.pad {
    margin-bottom: -4px;
}

.top-left {
    border-top-left-radius: 100%;
}

.top-right {
    border-top-right-radius: 100%;
}

.bottom-left {
    border-bottom-left-radius: 100%;
}

.bottom-right {
    border-bottom-right-radius: 100%;
}

.inline {
    display: inline-block;
}

.push {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: grey;
    border: 6px solid #333;
    cursor: pointer;
}

.green {
    background-color: #00a74a;
}

.red {
    background-color: #9f0f17;
}

.yellow {
    background-color: #cca707;
}

.blue {
    background-color: #094a8f;
}

.yellow.light, .yellow:active {
     background-color: #fed93f;
 }

.blue.light, .blue:active {
    background-color: #1c8cff;
}

.red.light, .red:active {
    background-color: #ff4c4c;
}

.green.light, .green:active {
    background-color: #13ff7c;
}