<div class="container">
  <header>
    <div id="featured">
      <h1>Hello!  My name is Sharon Choe.</h1>
      <h2>I'm a <strong>web developer</strong> and <strong>pharmacist</strong> living in New York City.
        Weird combination, I know.  But I'm trying to shake up the healthcare industry.</h2>
      <br />
      <br />
      <div id="buttons">
        <button type="button" class="btn btn-default" ng-click="scrollTo('portfolio')">
          Let's See Your Stuff
        </button>
        <a href="/assets/sharon_choe_resume_2016_prog2.pdf" class="btn btn-danger" role="button">
            Hire Me
        </a>
      </div>
    </div>
    <div class="picture">
      <img src="/assets/s0.png" alt="hello" width="250" height="250" />
    </div>

      <div class="clearfix"></div>

    <div id="mobileButtons">
        <button type="button" class="btn btn-default" ng-click="scrollTo('portfolio')">
            Let's See Your Stuff
        </button>
        <a href="/assets/sharon_choe_resume_2016_prog2.pdf" class="btn btn-danger" role="button">
            Hire Me
        </a>
    </div>

  </header>

  <!-- begin about me -->
  <h2 class="titles" id="aboutme">About Me</h2>
  <hr />
  <p class="blurb">I love coding and designing.  I was in the healthcare industry for four years.  Truth be told: Software in
    healthcare should be developed by programmers like me.  I have self-taught development so I can change all that.</p>

  <h2 class="titles" id="portfolio">Portfolio</h2>
  <hr />
  <ul class="clearfix portfolio">
    <li ng-repeat="item in portfolioItems">
        <a ui-sref="{{item.name}}">
            <img class="portfolio-img" ng-src="{{item.thumbNail}}" width="215" height="215" alt="{{item.title}}" />
        </a>
        <p class="portfolio-name"><a ui-sref="{{item.name}}">{{item.title}}</a></p>
        <p class="portfolio-desc">{{item.description}}</p>
    </li>
  </ul>

    <h2 class="titles" id="contact">Contact Me</h2>
    <hr />
    <div class="my-footer">
        <h3>Sharon Choe</h3>
        <a href="https://www.google.com/maps/place/Woodside,+Queens,+NY" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Woodside, NY</a>
        <br /><br />

        <i class="fa fa-phone" aria-hidden="true"></i> 347-618-8138 <br />
        <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:sharon@sharonchoe.com">sharon@sharonchoe.com</a>
        <br /><br /><br />

        <div class="inline footer-icon-left">
            <a href="https://github.com/sharonghae/" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="inline footer-icon-right">
            <a href="https://www.linkedin.com/in/sharonchoe" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        </div>

    </div>

</div>
