<div class="container">
    <p>A game I built using angular.js.  An earlier version with brute-forced algorithm is here: <a href="http://codepen.io/sharonghae/pen/qNaxBe" target="_blank">Codepen</a></p>
    <p><strong>Source: </strong><a href="https://github.com/sharonghae/sharonchoecom/blob/master/app/assets/javascripts/tictactoe.js" target="_blank">Github</a></p>
    <div class="clearfix"></div>

    <div class="tic-tac-toe-board">
        <div class="tic-tac-toe-cells xOrO" ng-repeat="cell in [0, 1, 2, 3, 4, 5, 6, 7, 8]" ng-click="selectCell(cell)">
            <p>{{getCellValue(cell) && (getCellValue(cell) === -1 ? 'O' : 'X' ) }}</p>
        </div>
    </div>

    <div ng-if="isWinner">
        <h3>You have {{isWinner === 'tie' ? 'a ' + isWinner + '! Cat\'s game' : isWinner}}!</h3>
        <button type="button" class="btn btn-default" ng-click="reset()">Reset Game</button>
    </div>
</div>