<div class="simon-wrapper">
    <div class="wrapper-inner">
        <div class="pad">
            <div id="pad1" class="top-left inline push green"></div>
            <div id="pad2" class="top-right inline push red"></div>
        </div>
        <div class="pad">
            <div id="pad3" class="bottom-left inline push yellow"></div>
            <div id="pad4" class="bottom-right inline push blue"></div>
        </div>
    </div>
    <div class="center-pad">
        <h1 class="simon-brand">simon</h1>
    </div>
</div>

<!-- sounds for simon -->
<audio preload="auto" id="pad1_audio"><source src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3" type="audio/mp3"></audio>
<audio preload="auto" id="pad2_audio"><source src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3" type="audio/mp3"></audio>
<audio preload="auto" id="pad3_audio"><source src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3" type="audio/mp3"></audio>
<audio preload="auto" id="pad4_audio"><source src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3" type="audio/mp3"></audio>
<audio preload="auto" id="buzzer"><source src="http://soundbible.com/mp3/Basketball Buzzer-SoundBible.com-1863250611.mp3" type="audio/mp3"></audio>